.header__container {
  border-bottom: 1px solid #545454;
  /* width: 880px; */
  height: 74px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.header__logo {
  width: 173px;
  height: 33px;
}
