.modal {
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  /* padding: 0 19px; */
  font-family: Inter, Arial, Helvetica, sans-serif;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__preview {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 0 19px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__preview_container {
  margin: auto;
  border-radius: 10px;
  z-index: 9999;
  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
}

.modal__heading {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 29.05px;
  margin: 0 0 54px 0;
}

.modal__heading_preview {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 14.25px;
  margin: 10px 0 0 0;
  color: #fff;
}

.modal__container {
  margin: auto;
  padding: 34px 36px 36.51px 36px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 9999;
  position: relative;
  width: 430px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__button {
  background-color: #000;
  color: #fff;
  margin-top: 48px;
  font-size: 1.125rem;
  height: 50.15px;
  cursor: url("../images/Layer.png"), auto;
  padding: 0;
  border-radius: 2px;
  border: 1px solid #000000;
}

.modal__button:hover {
  opacity: 0.6;
}

.modal__close {
  background-image: url(../images/сlose.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: url("../images/Layer.png"), auto;
  position: absolute;
  /* top: -45px;
  right: -45px; */
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  padding: 0;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__input {
  font-size: 0.875rem;
  height: 27.34px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
}

input[type="text"]:focus {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  outline: none;
}

input[name="info-profession"] {
  margin-top: 29.74px;
}

input[name="card-url"] {
  margin-top: 29.74px;
}

@media screen and (max-width: 630px) {
  .modal__close {
    width: 26px;
    height: 26px;

    left: calc(100% - 26px);
    bottom: calc(100% + 13.62px);
  }
  .modal__heading {
    font-size: 1.125rem;
    margin-bottom: 75px;
  }

  .modal__heading_preview {
    font-size: 1.125rem;
    margin-bottom: 75px;
  }

  .modal__container {
    padding: 25px 22px;
    width: 282px;
  }

  .modal__button {
    margin-top: 45px;
    font-size: 0.875rem;
  }
}

.modal_opened {
  /* display: flex; */
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__input_type_title {
  font-size: 0.875rem;
  height: 27.34px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
}
.modal__input_type_url {
  font-size: 0.875rem;
  height: 27.34px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
}
