.model {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 0 19px;
}

.model__heading {
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin: 0 0 39px 0;
}

.model__container {
  margin: auto;
  padding: 34px 64px 36px 36px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 9999;
  position: relative;
  width: 430px;

  box-sizing: border-box;
}

.model__form {
  display: flex;
  flex-direction: column;
}

.model__button {
  background-color: #000;
  color: #fff;
  margin-top: 48px;

  height: 50.15px;
}

.model__close {
  background-image: url(../images/сlose.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  /* top: -45px;
  right: -45px; */
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

input[type="text"] {
  font-size: 14px;
  height: 27.34px;
}

input[name="info-profession"] {
  margin-top: 30px;
}

@media screen and (max-width: 630px) {
  .model__close {
    width: 26px;
    height: 26px;

    left: calc(100% - 26px);
  }
}
