.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #000000;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 45px 20px 60px 20px;
  margin: auto;
  font-weight: 400;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__content {
  margin: 40px 0 0;
  max-width: 100%;
}

@media screen and (max-width: 650px) {
  .page {
    padding: 28px 19px 36px 19px;
    max-width: 320px;
  }

  .page__content {
    margin-top: 42px;
  }
}
