.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #000000;
  max-width: 1280px;
  box-sizing: border-box;

  margin: auto;
  padding: 45px 200px 60px 200px;

  font-weight: 400;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__content {
  margin: 40px 0 0;
}
