.profile {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  max-width: 880px;
  flex-wrap: wrap;
  max-width: 880px;
}

.profile__container {
  display: flex;
  gap: 30px;
  align-items: center;
  width: calc(100% - 315px);
  max-width: 100%;
}

.profile__avatar {
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0;
  max-width: 100%;
}

.profile__info-details {
  display: flex;
  width: 100%;
  gap: 18px;
  margin: auto;
  align-items: center;
  max-width: 100%;
}

.profile__info-name {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__info-profession {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__button-add {
  background: #000000 url("../images/plus_button.svg");
  min-width: 150px;
  height: 50px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  cursor: url("../images/Layer.png"), auto;
}

.profile__button-edit {
  min-width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  margin: 0;
  padding: 0;
  background: #000000 url("../images/edit_button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  cursor: url("../images/Layer.png"), auto;
}

.profile__button-add:hover {
  opacity: 0.6;
}
.profile__button-edit:hover {
  opacity: 0.6;
}

.profile__image-edit {
  object-fit: cover;
}

@media screen and (max-width: 372px) {
  .profile__info-details {
    gap: 0;
  }

  .profile__container {
    gap: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__info-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    max-width: 373px;
  }
  .profile__info-profession {
    text-align: center;

    font-size: 14px;
  }

  .profile {
    flex-direction: column;
    max-width: 282px;
    width: 100%;
    align-items: center;
    gap: 36px;
  }

  .profile__button-add {
    width: 100%;
    height: 50px;
  }
  .profile__button-edit {
    min-width: 18px;
    height: 18px;
    position: absolute;
    right: 34px;
  }

  .profile__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  .profile__info {
    gap: 14px;
    margin-top: 30px;
  }

  .profile__info-details {
    gap: 10px;
    justify-content: center;
  }
}
