@import url("../vendors/normalize.css");
@import url("../vendors/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/nav.css");
@import url("../blocks/recipes.css");
@import url("../blocks/reservation.css");
@import url("../blocks/form.css");
@import url("../blocks/gallery.css");
@import url("../blocks/card.css");
@import url("../blocks/about.css");
@import url("../blocks/footer.css");
@import url("../blocks/profile.css");
@media screen and (max-width: 320px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 36px;

    height: 2266px;
  }
  .profile__info-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    margin-left: 0px;
    text-align: center;
  }
  .profile__info-profession {
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }
  .profile {
    flex-direction: column;

    width: 100%;
    height: 286px;
    align-items: center;
  }
  .footer {
    margin: 48px 0px 0px;
  }

  .profile__button-add {
    width: 100%;
    height: 50px;
  }
  .profile__button-edit {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 34px;
  }

  .profile__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  .profile__info {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
  }
  .profile__info-details {
    gap: 10px;
    justify-content: center;
    width: 100%;
    /* position: relative; */
  }

  .page {
    padding: 28px 19px 36px;
  }

  .page__content {
    margin-top: 42px;
  }
}
